/* Estilos da Pagina Index*/

#menu li{
    display: inline;
    padding: 120px;  
}

#menu li a{
    text-decoration: none;
}
#menu a:hover{
    color: gray;
}

.p-30{
    padding: 30px;
}

.center {
    text-align: center;
    
}

.container {
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
}

.borderImg{
    border-top-left-radius: 25%;
    border-bottom-right-radius: 25%;
}
.img {
    height: 400px;
    width: 600px;
    padding: 1%;
}

.tm-social{
    height: 50px;
    width: 50px;
}
.mb-50{
    margin-bottom: 50px;
}

/* Estilos da pagina Contato */

.ml-50 {
    margin-left: 50px;
}